/* This main css file contains the default rules and is geared toward the small/phone view */
* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
@media only screen and (max-width: 37.5em) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive li {
        background-color: #8596FE;
        display: block;
        width: 100%;
        margin: 2px 0;
        border: 1px solid #ddd;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration:none;
    }
    .navigation.responsive li a:hover {
        background-color: thistle;
    }
}
body {/* Declare the base font-family - from google font api or other */
    font-size: 16px;
    font-family:'Oswald', 'Slabo 27px', sans-serif;
    margin: auto; /*centers the body element*/
}
header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 1400px;
    margin: auto; /*centers the header, nav, main, and footer element*/
}
header {
    text-align: center;
    font-size: 1em;
}
header h1 {
    margin: 10px;
}
header .subheading {
    font-size: 90%;
}
nav button {
    display: block;
}
nav ul {
    display: block;
    list-style-type: none; /*removes bullets*/
    background-color: clear;
    padding: 2px;
    margin: 2px;
}
nav ul li {
    display: none;
    text-align: center; /*centers text to middle of li element*/
}
nav ul li a {
    text-decoration: none; /*removes line under link*/
    color: white; /* makes the words white*/
}
nav ul li.active a {
    background-color: black; /*makes current page link black*/
}
nav ul li a:hover {
    background-color: thistle; /*when mouse is on nav link it will be this color*/
}
main {
    margin: 2px;
}
main h2 {
    text-align: center; /*makes words in main centered*/
}
main figure {/*these came with default code*/
    margin: .2rem 2%;
    width:96%;
}
main figure img {
    width: 100%;
    height: auto;
}
main figure.second-photo{/*hide 2nd photo*/
    display: none;
}
section {
    margin: 2%;
}
section.top{
    background-image: url("/assignments/lesson-6/images/sunnySky.jpg");
    display: flex; /*makes words in a column*/
}
section.forecast{
    display: none; /*hides forecast*/
}
article p.town-article-one img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%; /* fill the page in the small/phone view */
    height: auto;
}
article.two{
    display: none; /*hides 2nd article and photo*/
}
footer {
    margin: 2% auto;
    height: 8%;
    font-size: 61%; /*percent keeps the words on one line & will get larger as screen increases*/
    text-align: center;
    background-color: #E6E9FF; /*purple background*/
    padding: 2px;

}

