@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    header{
        font-size: 2em;
    }

    nav{
        width: 1400px;
    }
    nav ul li a {
        width: 233px;  /* makes link boxes larger to that they are centered*/
    }
    .index{
        display: flex;
    }
    .index > div {
        text-align: center;
        width: 50%;
        padding: 10px;
        margin: 10px;
    }
    .grid{/*adventure tours*/
        width: 100%;
        justify-content: center;
        grid-template-columns:minmax(auto, 45%)minmax(auto, 45%);
    }
    .contain{/*events*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    input{/*events and contact us*/
        margin-left: auto;
        margin-right: auto;
    }
    textarea{/*events and contact us*/
        display: block;
        margin: auto;
        width: auto;
    }
    select{/*events*/
        margin-bottom: 20px;
    }
    .usThree{/*contact*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .usThree>input{/*contact*/
        width: 33%;
    }

}
