/* This main css file contains the default rules and is geared toward the small/phone view */
* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
@media only screen and (max-width: 37.5em) {

    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive li {
        background-color: #FFCE00;
        display: block;
        width: 100%;
        margin: 2px 0;
        border: 1px solid #ddd;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration:none;
    }
    .navigation.responsive li a:hover {
        background-color: #007849;
}
    .hamburger{
        display: block;
        /*position: absolute;*/
        top: 8.50rem;
        right: 1.25rem;
    }
}
    body {/* Declare the base font-family - from google font api or other */
        color: #262228;
        font-family: 'Playfair Display', serif;
        margin: 0 auto; /*centers*/
        text-align: center;
}
    header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
        max-width: 1400px;
        margin: auto;
}
    header {
        font-size: 1em;
    }
    nav button {
        display: block;
        margin: 3px;
}
    nav ul {
    display: block;
    list-style-type: none; /*removes bullets*/
    background-color: clear;
    padding: 2px;
    margin: 2px;
}
    nav ul li {
    display: none;
    text-align: center; /*centers text to middle of li element*/
}
    nav ul li a {
        text-decoration: none; /*removes line under link*/
        color: #262228; /* makes the words dark*/
}
    nav ul li.active a {
        background-color: #0375B4; /*makes current page link blue*/
        color: #FFFFFF;
}
    li.slide > p{/*sales page*/
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;
}
    #slider { /*for sales page*/
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        overflow: hidden;
        width: 720px;
height: 500px;  /*this pushes footer down so all text can be seen*/
    }
    #slider .slides { /*for sales page*/
        display: block;
        width: 6000px;
        height: 400px;
        margin: 0;
        padding-top: 0;
    }
    #slider .slide { /*for sales page*/
        float: left;
        list-style-type: none;
        width: 920px;
        height: 400px;
    }
    .thanks{/*thank you page*/
    margin: 200px;
    margin-left: auto;
    margin-right: auto;
}
    .hours{/*contact us*/
    text-align: center;
    padding: 12px;
    margin: 5px;
}
    main figure {
        margin: 0 0 .2rem 2%;
        width:96%;
}
    main figure img {
        width: 100%;
}
    article.itnerary{
    width: 95%;
    text-align: center;
    padding: 10px;
}
    table{/*for service*/
        margin: 0 auto;
        margin-top: 13%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        box-shadow: 5px 5px 10px #628ca6;
    }
    thead{/*for service*/
        font-size: 1.75em;
    }
    th, td{/*for service*/
        border: 1px solid black;
        padding: 7px;
    }
    tr{/*for service*/
        border: 1px solid black;
    }
    input[name="firstname"]{/*contact and event*/
        background-image: url("https://survicate.com/wp-content/themes/survicate_theme/dist/img/contact_input_user.png")
    }
    input[name="phone"]{/*contact and event*/
        background-image: url("https://survicate.com/wp-content/themes/survicate_theme/dist/img/contact_input_phone.png")
    }
    input[name="email"]{/*contact and event*/
        background-image: url("https://survicate.com/wp-content/themes/survicate_theme/dist/img/contact_input_email.png")
    }
    input,select, textarea,fieldset{/*contact*/
        border-radius: 5px;
    }
    iframe{/*contact and event*/
        display: block;
        margin: 0 auto;

    }
    input{ /*contact and event*/
        height: 60px;
        width: 300px;
        padding: 24px 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-repeat: no-repeat;/*contact and event img*/
        background-position: 15px 22px;/*contact and event img*/
    }
    .contact{/*contact us and event*/
        margin-bottom: 30px;
        text-align: center; /*this centers the words in the textarea*/
    }
    input.submit{/*contact and event*/
        background-color: #FFCE00;
        box-shadow: 5px 5px 10px lightsteelBlue;
        color: #262228;
    }
    textarea{/*contact us and event*/
        margin-top: 10px;
    }
    .event{/*events*/
    list-style-type: none;
}
    select{/*events*/
    padding: 15px;
}
    .grid{/*for adventure tours*/
        display: grid;
        grid-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        border-radius: 5px;
        text-align: center;
    }
    .grid img{/*for adventure tours*/
        margin: 15px 15px 15px 15px;
}
    .grid > figure{/*for adventure tours*/
        border: 1px solid black;
        border-radius: 5px;/*rounds ccorners*/
    }
    table{/*adventure tours and service*/
        margin: 15px auto;
        text-align: center;
        border-collapse: collapse;
    }
    footer {
        background-color: #007849;
        color: #FFFFFF;
        width: 85%;
        padding: 1%;
        margin-top: 10px;
    }
    a {
        text-decoration: none;

}

    /* Other Class Selectors */


